<div class="chatbot">
	<div class="left-panel"></div>
	<div class="right-panel">
		<div class="content-box">
			<div class="pushed-chat">
				<div class="image-wrapper">
					<img src="/assets/bot.svg">
				</div>
				<div class="content">
					Hi! I am a Chemistry Bot! How can I help you? You can ask me things from Zumdahl Chemistry, 6th Edition.
				</div>
			</div>
		</div>
		<div class="loading">
			Typing...
		</div>
		<div class="chat-box">
			<textarea id="chat-box"></textarea>
		</div>
	</div>
</div>